.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon{
    font-size: 2rem;
    color: gold;
}

.main{
    color: gold;
    font-size: 2rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}